html {
  height: 100%;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0px;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#content.landingPage {
  justify-content: center;
}

#content.tabPage {
  justify-content: flex-start;
}

#overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#textContainer {
  color: white;
  font-size: 4rem;
  width: 650px;
  margin: 20px;
  margin-bottom: 10px;
}

#restaurantName {
  border-bottom: solid;
}

#navigationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#btnLocation,
#btnMenu,
#btnContact {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
}

#btnLocation:hover,
#btnMenu:hover,
#btnContact:hover {
  color: rgb(196, 179, 179);
  font-size: 1.9rem;
}

#btnLocation {
  grid-area: 1 / 1 / 2 / 2;
}

#btnMenu {
  grid-area: 1 / 2 / 2 / 3;
}

#btnContact {
  grid-area: 1 / 3 / 2 / 4;
}

/* ------------ Contact Tab ----------------- */

#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  max-width: 650px;
  min-width: 425px;
  color: white;
  margin: 20px;
  margin-top: 10px;
}

#contactGreeting {
  font-size: 1.2rem;
  margin: 0px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
