html {
  height: 100%;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#textContainer {
  color: white;
  font-size: 4rem;
}

#restaurantName {
  border-bottom: solid;
}

#navigationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#btnLocation,
#btnMenu,
#btnContact {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
}

#btnLocation:hover,
#btnMenu:hover,
#btnContact:hover {
  color: rgb(196, 179, 179);
  font-size: 1.9rem;
}

#btnLocation {
  grid-area: 1 / 1 / 2 / 2;
}

#btnMenu {
  grid-area: 1 / 2 / 2 / 3;
}

#btnContact {
  grid-area: 1 / 3 / 2 / 4;
}
